.vprostred {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.zakulatit {
    border-radius: 50%;
}

.velka {
    width: 30%;
    height: 30%;
}

.fixovat {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.dolu {
    margin-top: 2rem;
}

.card:hover {
    /*border-bottom: 0 none;*/
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.velikost-trochu {
    width: 16rem;
}

.modal-card {
    margin: auto;
}

.odstup {
    margin-bottom: 2rem;
}

.velikost-hoodne {
    font-size: 320%;
}

.umisteni {
    width: 5rem;
    height: 5rem;
}

.cervena {
    color: red;
}

.center {
    margin: 0 auto;
    display: block;
    width: 25%;
}

.tlacitko-dalsi {
    margin: 0 auto;
    display: block;
    margin-top: 4rem;
}

#najdete {
    margin-bottom: 5rem;

}

#aktualniNabidka {
  background-color: white;
  padding: 1rem;
}

#firstNabidka {
  background-image: url('../img/pattern.jpg');
}

#aktualniImg {
  width: 100%;
  max-height: auto;
}

.aktualniCard {
  width: 35%;
  height: auto;
  margin: 2rem auto;
  display: block;
}

.popisProduktu {
  text-align: center;
  margin: 0.8rem;
}
