@media only screen and (max-width: 500px) {
    .do-boxu {
        width: 100%;
        height: 70vh;
    }
    .velka {
        width: 64%;
        height: 64%;
    }
    .odstup {
        margin-bottom: 0.2rem;
    }
    .hero-body {
        width: 100%;
        padding: 0px;
    }
    .karusel,
    .o-doba,
    .mapa {
        width: 100%;
    }
    .karusel {
        background: url("../img/phone-bazarek.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .sirka-80 {
        min-width: 90%;
    }
    .mar-left {
        margin-left: 0%;
        margin: 0px auto;
    }
    .overflow {
        max-width: 92%;
        margin: 0px auto;
    }
    #sloupce {
        margin: 0px auto;
    }
    .center {
        margin: 0 auto;
        display: block;
        width: 80%;
    }
    .tlacitko-dalsi {
        margin: 0 auto;
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .sirka-mensi {
        width: 80%;
        margin: 2em;
    }
    .doprostred {
        margin: 0 auto;
    }
    .sirka-normal {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .karusel,
    .mapa .o-doba {
        width: 100%;
    }
}