.hlavni-img {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.odstinit {
    margin-top: -3rem;
}

.color-default {
    background-image: url("../img/pozadi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.color-white {
    background-color: white;
}

.do-boxu {
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    width: 60%;
    -webkit-box-shadow: 0px 9px 32px -11px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 9px 32px -11px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 9px 32px -11px rgba(0, 0, 0, 0.55);
}

.karusel,
.mapa,
.o-doba {
    width: 50%;
    float: left;
    overflow: hidden;
}

.color-blue {
    background-color: blue;
}

.color-yellow {
    background-color: yellow;
}

.full-vh {
    height: 100vh;
}

.karusel {
    background-image: url("../img/main-bazarek.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pad {
    padding: 2rem;
}

.color-blue {
    color: blue;
}

.sirka-80 {
    max-width: 35%;
}

.mar-left {
    margin-left: 2rem;
}

.zelena {
    color: green;
    font-weight: bold;
}

.cervena {
    color: red;
}

.plna-sirka {
    width: 100%;
}

.mar-top {
    margin-top: 2.5rem;
}

.doprostred {
    margin: 0 auto;
}

.o-doba:hover {
    -webkit-box-shadow: -28px 0px 25px -16px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -28px 0px 25px -16px rgba(0, 0, 0, 0.11);
    box-shadow: -28px 0px 25px -16px rgba(0, 0, 0, 0.11);
}

.ikona {
    padding: 2em;
}

.sirka-mensi {
    width: 45%;
}

.zarovnat-vlevo {
    text-align: left;
}

textarea,
.textarea {
    resize: none;
}

.vecCena {
    float: right;
}

.sloupce {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.vecNazev {
    float: left;
}

.card-content {
    padding-top: 1.4rem;
    padding-bottom: 2.0rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.card {
    margin-top: 2rem;
    margin-bottom: 1rem;
}